@model GreenMap.Models.OdwiertInfo


<div class="modal fade bd-example-modal-lg" id="infoDrillingModal" tabindex="-1" role="dialog" aria-labelledby="infoDrillingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoDrillingModalLabel">Baza otworów badawczych</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.NazwaObiektu)
                        </dt>
                        <dd class="col-sm-6" id="infoName">
                            @Html.DisplayFor(model => model.NazwaObiektu)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.NrRbdh)
                        </dt>
                        <dd class="col-sm-6" id="infoRbdh">
                            @Html.DisplayFor(model => model.NrRbdh)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Lokalizacja)
                        </dt>
                        <dd class="col-sm-6" id="infoDistrict">
                            @Html.DisplayFor(model => model.Lokalizacja)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Wspolrzedne)
                        </dt>
                        <dd class="col-sm-6" id="infoCoord">
                            @Html.DisplayFor(model => model.Wspolrzedne)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-6" id="infoStatus">
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.GlebokoscZwierciadla)
                        </dt>
                        <dd class="col-sm-6" id="infoDepth">
                            @Html.DisplayFor(model => model.GlebokoscZwierciadla)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Filtracja)
                        </dt>
                        <dd class="col-sm-6" id="infoFilter">
                            @Html.DisplayFor(model => model.Filtracja)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.KlasaFiltracji)
                        </dt>
                        <dd class="col-sm-6" id="infoFilterClass">
                            @Html.DisplayFor(model => model.KlasaFiltracji)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Profil)
                        </dt>
                        <dd class="col-sm-6" id="infoProfile">
                            <a id="infoPdf" href="" target="_blank">otwórz profil w pdf</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>